<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ZapClipper</string>
	<key>CFBundleDisplayName</key>
	<string>ZapClipper</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Lenouw/ZapClipper/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>1AvZry8Dl0dM3/B2UjkbZeziG7erROR+03HNyrP8T+E=</string>
</dict>
</plist>
